.navbarMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    text-align: center;
    
}
.navbarTitle{
    font-family: 'light';
    font-size: 26px;
    position: absolute;
    left: 150px;
    cursor: pointer;
    
}
.green{
    color: #66FF40;
}
.NavbarLogo img{
    border-radius: 100%;
    width: 55px;
    margin-left: 20px;
    margin-right: 40px;
    cursor: pointer;
}
.Navbar1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
}
.logoutBTN{
    cursor: pointer;
}
.logoutBTN img{
    width: 25px;
}
.underline{
    width: 90%;
    height: 1px;
    background: #878787;
    margin: 10px;
}
.NavbarMain1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatRoom{
    font-family: 'light';
    font-size: 20px;
}
.chatRoomMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.chatRoomMain img{
    width: 30px;
    cursor: pointer;
    margin-left: 120px;
    
}

.Rooms{
    background: #363D4F;
    width: 80%;
    margin: 10px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Rooms:hover{
    background: #545967;
}
.RoomsMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.roomIndex{
    background: #000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-family: 'light';
    font-size: 22px;
    margin: 20px;
}
.MainName{
    font-weight: 700;
}