.navbarMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    text-align: center;
    
}
.navbarTitle{
    font-family: 'light';
    font-size: 26px;
    position: absolute;
    left: 150px;
    cursor: pointer;
    
}
.green{
    color: #66FF40;
}
.NavbarLogo img{
    border-radius: 100%;
    width: 55px;
    margin-left: 20px;
    margin-right: 40px;
    cursor: pointer;
}
.Navbar1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
}
.logoutBTN{
    cursor: pointer;
}
.logoutBTN img{
    width: 25px;
}
.underline{
    width: 90%;
    height: 1px;
    background: #878787;
    margin: 10px;
}
.NavbarMain1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatRoom{
    font-family: 'light';
    font-size: 20px;
}
.chatRoomMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.chatRoomMain img{
    width: 30px;
    cursor: pointer;
    margin-left: 120px;
    
}

.Rooms{
    background: #363D4F;
    width: 80%;
    margin: 10px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Rooms:hover{
    background: #545967;
}
.RoomsMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 520px;
}
.roomIndex{
    background: #000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-family: 'light';
    font-size: 22px;
    margin: 20px;
}
.MainName{
    font-weight: 700;
}

.messagesMain{
    width: 100%;
    height: 70px;
    background: #000;
    border-left: 1px solid;
    border-color: #b5b5b5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messageName{
    font-weight: 700;
    margin-right: 240px;
}
.messageBTN{
    background: #2F3544;
    height: 40px;
    width: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.messageBTN:hover{
    background: #545967;
    cursor: pointer;
}
.messageInputs{
    position: absolute;
    bottom: 60px;
    display: flex;
}
.messageInputs input{
    background-color: #000;
    margin: 20px;
    width: 600px;
}
.messageInputs img{
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.RoomsMain{
    overflow-y: auto;
}
.myMessage1{
    text-align: right;
}
.myMessageNew{
    background: #000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.myMessage1 p{
    margin: 25px;
}
.myMessage2 p{
    margin: 15px;
}
.messageMap{
    overflow-y: auto;
    height: 450px;
}

.DisplayName img{
    width: 40px;
    border-radius: 100%;
}
.DisplayName{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.myMessage2{
    display: flex;
    
}
